*.swp
*.pyc
.vim/.netrwhist
.vim/plugged
.config/nvim/.netrwhist
*.swp
.ssh/known_hosts
.ssh/id_rsa
.ssh/korg-mturquette
.ssh/authorized_keys
.config/astroid/searches
.config/fish/fishd*
.config/git/ignore
.pwclientrc
